.navbar {
  background-color: #14112b;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  position: sticky;
  z-index: 100; /* keeping the z index high */
}

.navbar__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0px 20px;
  flex: 1;
}

.navbar__container__logo {
  color: #fdfdfd;
  cursor: pointer;
}

.navbar__container__menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.navbar__container__menu__item {
  line-height: 40px;
  margin-right: 1.5rem;
  font-size: 1rem;
  position: relative; 
}

.navbar__container__menu__item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: all 0.5s ease;
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
}

.navbar__container__menu__item:hover::after {
  width: 100%;
  background: #ffffff;
}

.navbar__container__menu__item__links {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  position: relative; 
  z-index: 1; 
}

.nav-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .navbar__container__menu.active {
    background: #14112b;
    left: 0px;
    opacity: 1;
  }

  .navbar__container__menu__item {
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #d9d9d9;
  }

  .nav-icon {
    display: block;
    cursor: pointer;
    color: white;
    padding-right: 20px;
  }
}
