@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


.App{
    height: 100%;

    &__main-page-content{
        height: calc(100% - 80px);
    }
    font-family: 'Montserrat';
}